<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}

		<script src="/js/jquery.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>

		{% block javascripts %}{% endblock %}
		{% block footer %}
			<div class="container-fluid text-center fixed-bottom footer">
				<p>
					Développeur :
					<a href="http://www.tuyideveloper.net/" target="_blank">Roger T.</a>
				</p>
				<p>
					Source de données :
					<a href="https://openweathermap.org/" target="_blank">openweathermap</a>
				</p>
			</div>
		{% endblock %}

	</body>
</html>
